<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title th:text="#{login.title}">Iniciar Sesión</title>
        <link rel="stylesheet" th:href="@{/css/loginPageStyle.css}"/>        
    </head>
    <body>

        <header>
            <img src="/images/Saluhud_logo.png" alt="Logo de Saluhud"/>
        </header>

        <div class="login-container">

            <div th:if="${errorMsg}" class="error-message">
                <p th:text="${errorMsg}"></p>
            </div>

            <!-- Formulario de login. Spring Security espera los parámetros 'username' y 'password' -->
            <form id="loginForm" th:action="@{/security/login}" method="post">
                <div>
                    <label for="username" th:text="#{login.username}">Usuario:</label>
                    <input type="text" id="username" name="username" th:placeholder="#{login.username.placeholder}" required />
                </div>
                <div>
                    <label for="password" th:text="#{login.password}">Contraseña:</label>
                    <input type="password" id="password" name="password" th:placeholder="#{login.password.placeholder}" required />
                </div>
                <div>
                    <button type="submit" th:text="#{login.button}">Entrar</button>
                </div>
            </form>
        </div>
    </body>

    <footer>
        <div class="language-selector">
            <a th:href="@{/security/login(lang='es')}">🇪🇸 Español</a> | 
            <a th:href="@{/security/login(lang='en')}">🇬🇧 English</a>
        </div>
    </footer>
</html>
