<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8"/>
        <title th:text="#{search.advanced.title}">Búsqueda Avanzada</title>
        <link rel="stylesheet" th:href="@{/css/searchStyle.css}">
    </head>
    <body>
        <div class="header">
            <a th:href="@{/welcome}" class="header-link">
                <h2 th:text="#{header.portal}">Portal de Gestión para Administradores</h2>
            </a>
        </div>

        <div class="search-container">
            <h2 th:text="#{search.advanced.title}">Búsqueda Avanzada</h2>

            <div>
                <p th:text="#{search.advanced.welcome}">Bienvenido al panel de búsquedas del portal. Aquí podrás realizar diversas consultas sobre las siguientes entidades:</p>
            </div>

            <div class="button-container">
                <a th:href="@{/search/ingredients}" class="button" th:text="#{search.ingredients}">Buscar Ingredientes</a>
                <a th:href="@{/search/recipes}" class="button" th:text="#{search.recipes}">Buscar Recetas</a>
                <a th:href="@{/search/users}" class="button" th:text="#{search.users}">Buscar Usuarios</a>
            </div>            
        </div>
    </body>

    <footer>
        <p th:text="#{footer.copyright}">© 2025 Saluhud. Todos los derechos reservados.</p>
        <div class="language-selector">
            <a th:href="@{/search/advanced(lang='es')}">🇪🇸 Español</a> |
            <a th:href="@{/search/advanced(lang='en')}">🇬🇧 English</a>
        </div>
    </footer>

</html>

