<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{create.recipe.title}">Crear Receta</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/css/recipeFormStyle.css}"/>
    </head>
    <body>

        <script th:src="@{/js/addIngredients.js}"></script>

        <div class="container">
            <h2 th:text="#{create.recipe.title}">Crear Nueva Receta</h2>

            <!-- Mostrar el mensaje de éxito o error si está presente -->
            <div th:if="${successMessage}" th:class="'message success'">
                <p th:text="${successMessage}"></p>
            </div>
            <div th:if="${errorMessage}" th:class="'message error'">
                <p th:text="${errorMessage}"></p>
            </div>

            <form th:action="@{/recipes/create}" th:object="${recipe}" method="post">
                <label for="name" th:text="#{recipe.name.label}">Nombre:</label>
                <input type="text" id="name" th:field="*{name}" required/>

                <label for="description" th:text="#{description.label}">Descripción:</label>
                <textarea id="description" th:field="*{description}"></textarea>

                <label for="ingredientsDescription" th:text="#{ingredients.description.label}">Ingredientes:</label>
                <textarea id="ingredientsDescription" th:field="*{ingredientsDescription}"></textarea>

                <label for="kilocalories" th:text="#{kilocalories.label}">Kilocalorías:</label>
                <input type="number" id="kilocalories" th:field="*{kilocalories}" required/>

                <!-- Combo box para seleccionar los alérgenos -->
                <label for="allergens" th:text="#{allergens.label}">Alergenos:</label>
                <select id="allergens" th:field="*{allergenics}" multiple>
                    <option th:each="allergen : ${translatedAllergenics}" 
                            th:value="${allergen.key}" 
                            th:text="${allergen.value}"></option>
                </select>

                <div id="ingredientsContainer">
                    <label th:text="#{recipe.ingredients.label}">Ingredientes:</label>
                    <div th:each="recipeIngredient, stat : *{recipeIngredients}" class="ingredient-entry">
                        <select th:field="*{recipeIngredients[__${stat.index}__].ingredientId}">
                            <option th:each="ingredient : ${translatedIngredients}"
                                    th:value="${ingredient.key}"
                                    th:text="${ingredient.value}">
                            </option>
                        </select>
                        <input type="number" step="0.01" th:field="*{recipeIngredients[__${stat.index}__].quantity}" th:placeholder="#{recipe.ingredients.quantity}" required/>
                        <input type="text" th:field="*{recipeIngredients[__${stat.index}__].unit}" th:placeholder="#{recipe.ingredients.unit}" required/>
                        <button type="button" class="remove-ingredient" th:text="#{ingredient.delete}">Eliminar</button>
                    </div>
                </div>
                <button type="button" id="addIngredient" class="button" th:text="#{recipe.add.ingredient}">Añadir Ingrediente</button>

                <button type="submit" class="button" th:text="#{recipe.save.button}">Guardar Receta</button>
            </form>

            <a th:href="@{/recipes/home}" class="button" th:text="#{recipe.back.button}">Volver al listado</a>
        </div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var i18n = {
                selectIngredient: /*[[#{recipe.ingredients.select}]]*/ 'Selecciona un ingrediente',
                quantity: /*[[#{recipe.ingredients.quantity}]]*/ 'Cantidad',
                unit: /*[[#{recipe.ingredients.unit}]]*/ 'Unidad',
                next: /*[[#{recipe.ingredients.next}]]*/ 'Siguiente página',
                delete: /*[[#{ingredient.delete}]]*/ 'Eliminar'
            };
            /*]]>*/
        </script>
    </body>
</html>

