<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{fitnessData.create.title}">Crear Datos Fitness</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/css/userFormStyle.css}" />
    </head>
    <body>

        <div class="container">
            <h2 th:text="#{fitnessData.create.title}">Crear Datos Fitness</h2>

            <!-- Mostrar el mensaje de éxito o error si está presente -->
            <div th:if="${successMessage}" th:class="'message success'">
                <p th:text="${successMessage}"></p>
            </div>
            <div th:if="${errorMessage}" th:class="'message error'">
                <p th:text="${errorMessage}"></p>
            </div>

            <form th:action="@{/users/fitness/create}" th:object="${fitnessData}" method="post">
                <input type="hidden" name="userId" th:value="${userId}" />

                <div>
                    <label th:for="weight" th:text="#{user.fitnessData.weight}">Peso</label>
                    <input type="number" step="0.1" th:field="*{weight}" />
                    <div th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></div>
                </div>

                <div>
                    <label th:for="height" th:text="#{user.fitnessData.height}">Altura</label>
                    <input type="number" step="0.1" th:field="*{height}" />
                    <div th:if="${#fields.hasErrors('height')}" th:errors="*{height}"></div>
                </div>

                <div>
                    <label th:for="biologicalSex" th:text="#{user.fitnessData.sex}">Sexo Biológico</label>
                    <select th:field="*{biologicalSex}">
                        <option th:value="MALE" th:text="#{user.fitnessData.sex.male}">Hombre</option>
                        <option th:value="FEMALE" th:text="#{user.fitnessData.sex.female}">Mujer</option>
                    </select>
                    <div th:if="${#fields.hasErrors('biologicalSex')}" th:errors="*{biologicalSex}"></div>
                </div>

                <div>
                    <label th:for="age" th:text="#{user.fitnessData.age}">Edad</label>
                    <input type="number" th:field="*{age}" />
                    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
                </div>

                <div>
                    <label th:for="activityFactor" th:text="#{user.fitnessData.activityFactor}">Nivel de actividad física</label>
                    <select th:field="*{activityFactor}">
                        <option th:value="SEDENTARY" th:text="#{activityFactor.SEDENTARY}">Sedentario (poco o ningún ejercicio)</option>
                        <option th:value="LIGHTLY_ACTIVE" th:text="#{activityFactor.LIGHTLY_ACTIVE}">Ejercicio ligero (1–3 días/semana)</option>
                        <option th:value="MODERATELY_ACTIVE" th:text="#{activityFactor.MODERATELY_ACTIVE}">Ejercicio moderado (3–5 días/semana)</option>
                        <option th:value="VERY_ACTIVE" th:text="#{activityFactor.VERY_ACTIVE}">Ejercicio intenso (6–7 días/semana)</option>
                        <option th:value="EXTRA_ACTIVE" th:text="#{activityFactor.EXTRA_ACTIVE}">Ejercicio muy intenso + trabajo físico</option>
                        <option th:value="PROFESSIONAL_ATHLETE" th:text="#{activityFactor.PROFESSIONAL_ATHLETE}">Atleta profesional</option>
                    </select>
                    <div th:if="${#fields.hasErrors('activityFactor')}" th:errors="*{activityFactor}"></div>
                </div>

                <div>
                    <label th:text="#{user.fitnessData.bodyComposition.leanBodyMassPercentage}">Lean Body Mass %</label>
                    <input type="number" step="0.1" th:field="*{bodyComposition.leanBodyMassPercentage}" />
                    <div th:if="${#fields.hasErrors('bodyComposition.leanBodyMassPercentage')}" th:errors="*{bodyComposition.leanBodyMassPercentage}"></div>
                </div>

                <div>
                    <label th:text="#{user.fitnessData.bodyComposition.leanBodyMassWeight}">Lean Body Mass Weight</label>
                    <input type="number" step="0.1" th:field="*{bodyComposition.leanBodyMassWeight}" />
                    <div th:if="${#fields.hasErrors('bodyComposition.leanBodyMassWeight')}" th:errors="*{bodyComposition.leanBodyMassWeight}"></div>
                </div>

                <div>
                    <label th:text="#{user.fitnessData.bodyComposition.bodyFatPercentage}">Body Fat %</label>
                    <input type="number" step="0.1" th:field="*{bodyComposition.bodyFatPercentage}" />
                    <div th:if="${#fields.hasErrors('bodyComposition.bodyFatPercentage')}" th:errors="*{bodyComposition.bodyFatPercentage}"></div>
                </div>

                <div>
                    <label th:text="#{user.fitnessData.bodyComposition.bodyFatWeight}">Body Fat Weight</label>
                    <input type="number" step="0.1" th:field="*{bodyComposition.bodyFatWeight}" />
                    <div th:if="${#fields.hasErrors('bodyComposition.bodyFatWeight')}" th:errors="*{bodyComposition.bodyFatWeight}"></div>
                </div>

                <div>
                    <label th:for="fitnessTarget" th:text="#{user.fitnessData.fitnessTarget}">Objetivo Fitness</label>
                    <select th:field="*{fitnessTarget}">
                        <option th:value="WEIGHT_LOSS" th:text="#{fitnessTarget.WEIGHT_LOSS}">Pérdida de peso</option>
                        <option th:value="WEIGHT_GAIN" th:text="#{fitnessTarget.WEIGHT_GAIN}">Aumento de peso</option>
                        <option th:value="MAINTENANCE" th:text="#{fitnessTarget.MAINTENANCE}">Mantenimiento</option>
                    </select>
                    <div th:if="${#fields.hasErrors('fitnessTarget')}" th:errors="*{fitnessTarget}"></div>
                </div>

                <div>
                    <button type="submit" class="button" th:text="#{fitnessData.create.submit}">Crear Datos Fitness</button>
                </div>

            </form>
            <div>
                <a th:href="@{/users/details/{id}(id=${userId})}" class="button" th:text="#{fitnessData.back}">Volver atrás</a>
            </div>
        </div>

    </body>
</html>

