<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{user.details.title}">Detalles del Usuario</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/css/usersStyle.css}"/>
    </head>
    <body>
        <div class="header">
            <a th:href="@{/users/home}" class="header-link">
                <h2 th:text="#{user.portal.admin}">Portal de Gestión para Administradores</h2>
            </a>
        </div>

        <div class="details-container">
            <h2 th:text="#{user.details.title}">Detalles del Usuario</h2>

            <p><strong th:text="#{user.id}">ID</strong>: <span th:text="${user.id}"></span></p>
            <p><strong th:text="#{user.username}">Nombre de Usuario</strong>: <span th:text="${user.username}"></span></p>
            <p><strong th:text="#{user.name}">Nombre</strong>: <span th:text="${user.name}"></span></p>
            <p><strong th:text="#{user.surname}">Apellido</strong>: <span th:text="${user.surname}"></span></p>
            <p><strong th:text="#{user.email}">Correo Electrónico</strong>: <span th:text="${user.email}"></span></p>
            <p><strong th:text="#{user.phoneNumber}">Número de Teléfono</strong>: <span th:text="${user.phoneNumber}"></span></p>

            <div th:if="${user.fitnessData != null}">
                <h2 th:text="#{user.fitnessData.sectionTitle}">Datos Fitness</h2>

                <p><strong th:text="#{user.fitnessData.weight}">Peso:</strong> <span th:text="${user.fitnessData.weight}"></span> kg</p>
                <p><strong th:text="#{user.fitnessData.height}">Altura:</strong> <span th:text="${user.fitnessData.height}"></span> cm</p>
                <p><strong th:text="#{user.fitnessData.sex}">Sexo biológico:</strong> <span th:text="${user.fitnessData.biologicalSex}"></span></p>
                <p><strong th:text="#{user.fitnessData.age}">Edad:</strong> <span th:text="${user.fitnessData.age}"></span> años</p>
                <p><strong th:text="#{user.fitnessData.bodyComposition}">Composición corporal:</strong> <span th:text="${user.fitnessData.bodyComposition}"></span></p>
                <p><strong th:text="#{user.fitnessData.litres}">Litros de agua diarios recomendados:</strong> <span th:text="${user.fitnessData.recommendedDailyWaterLiters}"></span> L</p>
                <p><strong th:text="#{user.fitnessData.hours}">Horas de sueño recomendadas:</strong> <span th:text="${user.fitnessData.recommendedSleepHours}"></span> h</p>
                <p><strong th:text="#{user.fitnessData.steps}">Pasos diarios recomendados:</strong> <span th:text="${user.fitnessData.recommendedDailySteps}"></span></p>
                <p><strong th:text="#{user.fitnessData.kcal}">Kilocalorías diarias objetivo:</strong> <span th:text="${user.fitnessData.dailyKilocaloriesObjective}"></span> kcal</p>
                <p><strong th:text="#{user.fitnessData.massIndex}">Índice de masa corporal (IMC):</strong> <span th:text="${user.fitnessData.bodyMassIndex}"></span></p>
            </div>

            <div class="button-container">
                <a th:href="@{/users/home}" class="button" th:text="#{user.back}">Volver al Listado</a>

                <a th:href="@{/users/fitness/create/{userId}(userId=${user.id})}"
                   class="button" 
                   th:if="${user.fitnessData == null}"
                   th:text="#{fitnessData.create.title}">
                    Crear Datos Fitness
                </a>
            </div>           
        </div>
    </body>
</html>

