<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{user.details.title}">Detalles del Usuario</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/css/usersStyle.css}"/>
    </head>
    <body>

        <script th:src="@{/js/deleteFitness-action.js}"></script>

        <div class="header">
            <a th:href="@{/users/home}" class="header-link">
                <h2 th:text="#{user.portal.admin}">Portal de Gestión para Administradores</h2>
            </a>
        </div>

        <div th:if="${successMessage}" th:class="'message success'">
            <p th:text="${successMessage}"></p>
        </div>
        <div th:if="${errorMessage}" th:class="'message error'">
            <p th:text="${errorMessage}"></p>
        </div>

        <div class="details-container">
            <h2 th:text="#{user.details.title}">Detalles del Usuario</h2>

            <p><strong th:text="#{user.id}">ID</strong>: <span th:text="${user.id}"></span></p>
            <p><strong th:text="#{user.username}">Nombre de Usuario</strong>: <span th:text="${user.username}"></span></p>
            <p><strong th:text="#{user.name}">Nombre</strong>: <span th:text="${user.name}"></span></p>
            <p><strong th:text="#{user.surname}">Apellido</strong>: <span th:text="${user.surname}"></span></p>
            <p><strong th:text="#{user.email}">Correo Electrónico</strong>: <span th:text="${user.email}"></span></p>
            <p><strong th:text="#{user.phoneNumber}">Número de Teléfono</strong>: <span th:text="${user.phoneNumber}"></span></p>

            <div th:if="${user.fitnessData != null}">
                <h2 th:text="#{user.fitnessData.sectionTitle}">Datos Fitness</h2>

                <p><strong th:text="#{user.fitnessData.weight}">Peso:</strong> <span th:text="${user.fitnessData.weight}"></span> kg</p>
                <p><strong th:text="#{user.fitnessData.height}">Altura:</strong> <span th:text="${user.fitnessData.height}"></span> cm</p>
                <p>
                    <strong th:text="#{user.fitnessData.sex}">Sexo biológico:</strong>
                    <span th:switch="${biologicalSex}">
                        <span th:case="'MALE'" th:text="#{user.fitnessData.sex.male}">Hombre</span>
                        <span th:case="'FEMALE'" th:text="#{user.fitnessData.sex.female}">Mujer</span>
                        <span th:case="*">Desconocido</span>
                    </span>
                </p>

                <p><strong th:text="#{user.fitnessData.age}">Edad:</strong> <span th:text="${user.fitnessData.age}"></span> años</p>
                <p>
                    <span th:text="'Masa magra: ' + ${user.fitnessData.bodyComposition.leanBodyMassPercentage} + '%' + 
                          ' (' + ${user.fitnessData.bodyComposition.leanBodyMassWeight} + ' kg), ' + 
                          'Grasa corporal: ' + ${user.fitnessData.bodyComposition.bodyFatPercentage} + '%' + 
                          ' (' + ${user.fitnessData.bodyComposition.bodyFatWeight} + ' kg)'">
                    </span>
                </p>
                <p><strong th:text="#{user.fitnessData.litres}">Litros de agua diarios recomendados:</strong> <span th:text="${user.fitnessData.recommendedDailyWaterLiters}"></span> L</p>
                <p><strong th:text="#{user.fitnessData.hours}">Horas de sueño recomendadas:</strong> <span th:text="${user.fitnessData.recommendedSleepHours}"></span> h</p>
                <p><strong th:text="#{user.fitnessData.steps}">Pasos diarios recomendados:</strong> <span th:text="${user.fitnessData.recommendedDailySteps}"></span></p>
                <p><strong th:text="#{user.fitnessData.kcal}">Kilocalorías diarias objetivo:</strong> <span th:text="${user.fitnessData.dailyKilocaloriesObjective}"></span> kcal</p>
                <p><strong th:text="#{user.fitnessData.massIndex}">Índice de masa corporal (IMC):</strong> <span th:text="${user.fitnessData.bodyMassIndex}"></span></p>
            </div>

            <div class="button-container">
                <a th:href="@{/users/home}" class="button" th:text="#{user.back}">Volver al Listado</a>

                <a th:href="@{/users/fitness/create/{userId}(userId=${user.id})}"
                   class="button" 
                   th:if="${user.fitnessData == null}"
                   th:text="#{fitnessData.create.title}">
                    Crear Datos Fitness
                </a>

                <a th:href="@{/users/fitness/edit/{userId}(userId=${user.id})}"
                   class="button"
                   th:if="${user.fitnessData != null}"
                   th:text="#{user.fitnessData.editButton}">
                    Editar Datos Fitness
                </a>

                <a th:href="@{/users/fitness/delete/{userId}(userId=${user.id})}"
                   id="deleteButton" 
                   class="button" 
                   th:if="${user.fitnessData != null}"
                   th:text="#{user.fitnessData.deleteButton}"        
                   th:data-user-id="${user.id}">
                    Eliminar Datos Fitness
                </a>

                <a th:href="@{/users/sleepHistorics/{userId}(userId=${user.id})}" class="button"
                   th:text="#{user.historics.showButton}">
                    Mostrar histórico de sueño
                </a>

                <a th:href="@{/users/dailyStepsHistorics/{userId}(userId=${user.id})}" class="button"
                   th:text="#{user.dailyStepsHistorics.showButton}">
                    Mostrar histórico de pasos
                </a>

                <a th:href="@{/users/weightHistorics/{userId}(userId=${user.id})}" class="button"
                   th:text="#{user.weightHistorics.showButton}">
                    Mostrar histórico de peso
                </a>
            </div>  

            <!-- Mensajes i18n ocultos -->
            <span id="deleteConfirmTitle" th:text="#{fitnessData.delete.confirmTitle}" style="display:none;"></span>
            <span id="deleteConfirmMessage" th:text="#{fitnessData.delete.confirmMessage}" style="display:none;"></span>
            <button id="buttonYes" th:text="#{button.yes}" style="display:none;"></button>
            <button id="buttonNo" th:text="#{button.no}" style="display:none;"></button>
        </div>
    </body>
</html>

