<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{user.weight.historics.title}">Históricos</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/css/showHistorics.css}"/>
    </head>
    <body>

        <div class="header">
            <a th:href="@{/users/home}" class="header-link">
                <h2 th:text="#{user.portal.admin}">Portal de Gestión para Administradores</h2>
            </a>
        </div>

        <div class="container">
            <h1 th:if="${entries != null}">
                <span th:text="#{user.weight.historics.heading}">Histórico de peso de</span>
                <span th:text="${user.name} + ' ' + ${user.surname}">Nombre</span>
            </h1>

            <div th:if="${errorMessage}">
                <p th:text="${errorMessage}" style="color: red;"></p>
            </div>

            <div th:if="${entries != null}">
                <canvas id="sleepChart" width="800" height="400"></canvas>

                <h3 class="mt-4" th:text="#{user.weight.historics.evaluationsTitle}">Evaluaciones de peso</h3>
                <table class="table table-bordered mt-2">
                    <thead class="table-light">
                        <tr>
                            <th th:text="#{user.historics.date}">Fecha</th>
                            <th th:text="#{user.weight.historics.weight}">Pesajes</th>
                            <th th:text="#{user.weight.historics.height}">Alturas</th>
                            <th th:text="#{user.weight.historics.kilocaloriesObjectiveEntry}">Objetivo de kilocalorías</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="entry : ${entries}">
                            <td th:text="${#temporals.format(entry.entryDate, 'dd/MM/yyyy')}"></td>
                            <td th:text="${entry.weightEntry}"></td>
                            <td th:text="${entry.heightEntry}"></td>
                            <td th:text="${entry.kilocaloriesObjectiveEntry}"></td>
                        </tr>
                    </tbody>
                </table>

                <div id="weightData"
                     th:data-labels="${dates}"
                     th:data-height="${height}"
                     th:data-weight="${weight}">
                </div>
            </div>

            <a th:href="@{/users/home}" class="btn btn-secondary" th:text="#{user.historics.back}">Volver</a>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script th:inline="javascript">
            const sleepDataDiv = document.getElementById('weightData');
            const labels = JSON.parse(sleepDataDiv.getAttribute('data-labels'));
            const height = JSON.parse(sleepDataDiv.getAttribute('data-height'));
            const weight = JSON.parse(sleepDataDiv.getAttribute('data-weight'));

            const labelHeight = /*[[#{user.weight.historics.height}]]*/ 'Altura';
            const labelweight = /*[[#{user.weight.historics.weight}]]*/ 'Pesaje';
            const labelFecha = /*[[#{user.historics.date}]]*/ 'Fecha';
            const labelCantidad = /*[[#{user.historics.quantity}]]*/ 'Cantidad';

            if (labels && height && weight) {
                const ctx = document.getElementById('sleepChart').getContext('2d');
                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                                label: labelHeight,
                                data: height,
                                backgroundColor: '#a80a2e', // Rojo fuerte
                                borderColor: '#d67a8f', // Borde rojo suave
                                fill: false
                            },
                            {
                                label: labelweight,
                                data: weight,
                                backgroundColor: '#3a9d8e',
                                borderColor: '#64b3a8',
                                fill: false
                            }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            x: {
                                title: {
                                    display: true,
                                    text: labelFecha
                                }
                            },
                            y: {
                                title: {
                                    display: true,
                                    text: labelCantidad
                                }
                            }
                        }
                    }
                });
            } else {
                console.error("No se han recibido datos válidos para el gráfico.");
            }
        </script>
    </body>
</html>

