<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8"/>
        <title>Portal de Gestión - Administradores</title>
        <link rel="stylesheet" th:href="@{/css/mainPageStyle.css}">
    </head>
    <body>
        <div class="header">
            <h2>Portal de Gestión para Administradores</h2>
        </div>

        <div class="main-content">
            <h1 sec:authorize="isAuthenticated()">Panel de Control</h1>
            <p sec:authorize="isAuthenticated()">Bienvenido al portal de administración. Desde aquí puedes gestionar las siguientes entidades:</p>
            <p sec:authorize="!isAuthenticated()">Bienvenido al portal de administración. En primer lugar, inicie sesión con sus credenciales por favor</p>

            <div class="button-container" sec:authorize="isAuthenticated()">
                <a href="#" class="button">Gestionar Recetas</a>
                <a href="#" class="button">Gestionar Ingredientes</a>
                <a href="#" class="button">Gestionar Alérgenos</a>
            </div>

            <p sec:authorize="isAuthenticated()">Bienvenido, <span sec:authentication="name">Usuario</span>!</p>

            <!-- Muestra solo si el usuario NO está autenticado -->
            <a th:href="@{/security/login}" sec:authorize="!isAuthenticated()" class="button">Iniciar Sesión</a>

            <!-- Muestra solo si el usuario tiene el rol ADMIN -->
            <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                <button type="submit" class="button">Cerrar Sesión</button>
            </form>

        </div>
        
        <!-- Script para mostrar mensajes emergentes -->
        <script th:inline="javascript">
            /*<![CDATA[*/
            var urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get('loginSuccess') === 'true') {
                alert("¡Inicio de sesión exitoso!");
            }
            if (urlParams.get('logoutSuccess') === 'true') {
                alert("¡Cerrada sesión correctamente!");
            }
            /*]]>*/
        </script>
    </body>
</html>
